[submodule "hdl/prj-fpga"]
	path = hdl/prj-fpga
	url = git@github.com:TomKeddie/prj-fpga.git
[submodule "hdl/Arty"]
	path = hdl/Arty
	url = git@github.com:TomKeddie/Arty.git
[submodule "hdl/Digilent-Arty"]
	path = hdl/Digilent-Arty
	url = git@github.com:TomKeddie/Arty.git
[submodule "hdl/pmod-samd21/spi_master_slave"]
	path = hdl/pmod-samd21/spi_master_slave
	url = https://github.com/freecores/spi_master_slave.git
[submodule "hdl/pmod-samd21/spi-fpga"]
	path = hdl/pmod-samd21/spi-fpga
	url = https://github.com/lhoyosm/spi-fpga.git
[submodule "hardware/mithro-kicad-pmod"]
	path = hardware/mithro-kicad-pmod
	url = https://github.com/mithro/kicad-pmod.git
[submodule "hardware/pmod-sao/badgelife-parts"]
	path = hardware/pmod-sao/badgelife-parts
	url = https://github.com/devec0/badgelife-parts
[submodule "hardware/tom-kicad"]
	path = hardware/tom-kicad
	url = git@github.com:TomKeddie/tom-kicad.git
